.div {
    display: flex;
    position: absolute;
    left: 7rem;
    
}

.title {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    right: 3rem;
    top: 5rem;
    background-color: rgba(128, 128, 128, 0);
    width: 40rem;
    border-bottom: 1.5px solid black ;
   
}

.btn {
    border-radius: 5px;
    border: 1px solid rgba(20, 20, 20, 0.733);
    background-color: transparent;
    
    position: absolute;
    left: 65rem;
    bottom: 2rem;

    transform: translate(-10px, -15px); 
    transition: transform 0.8s ease;
}

.btn:hover{
    transform: translate(-10px, -10px);
    box-shadow: 1px 1px 5px rgba(15, 15, 15, 0.9);
}