.form {
    display: flex;
    position: absolute;
    left: 33rem;
    top: 12rem;
    flex-direction: column;
    gap: 1rem;
    width: 25rem;
    
}

.title {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    right: 5rem;
    top: 2rem;
    background-color: rgba(128, 128, 128, 0);
    width: 60rem;
    border-bottom: 2px solid black ;
   
} 
.mail1{

    display: flex;
    position: absolute;
    justify-content: flex-end;
    right: 5rem;
    top: 5rem;
    background-color: rgba(128, 128, 128, 0);
    width: 60rem;
    
}

.labelmail{
    font-weight: 700;
}
.msj {
    font-weight: 700;
    
}

.mail{
    border-radius: 9px;
}
.boxmsj {
    border-radius: 9px;
    height: 10rem;
}

.btn {
    border-radius: 5px;
    background-color: rgba(185, 185, 185, 0.247);
}