.home {
    display: flex;
    flex-direction: column;
    margin-left: 13rem;
    justify-content: center;
    gap: 5rem;
    padding-top: 8rem;
}

.title {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    right: 3rem;
    top: 4rem;
    background-color: rgba(128, 128, 128, 0);
    width: 30rem;
    border-bottom: 1.5px solid black ;
   
} 
.btn {
    border-radius: 5px;
    background-color: transparent;
    border-color: rgb(95, 95, 95);
    
    position: absolute;
    left: 55rem;
    bottom: 5rem;
    transform: translate(-50px, -40px); 
    transition: transform 0.8s ease;
}

.btn:hover{
    transform: translate(-50px, -50px);
    box-shadow: 1px 1px 5px rgba(15, 15, 15, 0.9);
}