.title {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    right: 5rem;
    top: 3rem;
    background-color: rgba(128, 128, 128, 0);
    width: 35%;
    border-bottom: 1.5px solid black ;
   
}
.title2 {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    right: 5rem;
    top: 55rem;
    background-color: rgba(128, 128, 128, 0);
    width: 60rem;
    border-bottom: 1px solid black ;
   
}



.gh{
    position: absolute;
    left: 40rem;
    color: black;

    transform: translate(-1px, -1px); 
    transition: transform 0.5s ease;
}

.gh:hover {
    transform: translate(-3px, -3px);
    /* box-shadow: 1px 1px 5px rgba(15, 15, 15, 0.9); */
    
}

.ln{
    position: absolute;
    height: 1.5rem;
    width: 3rem;
    left: 45rem;
    top: 15px;
    color: black;

    transform: translate(-1px, -1px); 
    transition: transform 0.5s ease;
}

.ln:hover {
    transform: translate(-3px, -3px);
    /* box-shadow: 1px 1px 5px rgba(15, 15, 15, 0.9); */
}

.btn {
    border-radius: 5px;
    border: 1px solid rgba(20, 20, 20, 0.733);
    background-color: transparent;
    transform: translate(-1px, -1px); 
    transition: transform 0.5s ease;
}

.btn:hover{
    transform: translate(-3px, -3px);
    box-shadow: 1px 1px 5px rgba(15, 15, 15, 0.9);
}

.divbtn{
    display: flex;
    position: absolute;
   justify-content: flex-end;
   
    top: 135%;
    right: 15%;
    
    padding-bottom: 1rem;


}

